################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Novidades/.vs/Novidades/v15/Server/sqlite3
/Novidades/.vs/Novidades/v16/Server/sqlite3
